body {
    font-family: Arial, sans-serif;
  }

  .ticket {
    display: flex;
    border: 1px solid #ccc;
    max-width: 800px;
    margin: auto;
  }

  header{
    border: 1px solid #ccc;
    max-width: 800px;
    margin: auto;
  }

  header p{
    font-size: 15px;
  }

  header h1{
    font-size: 15px;
  }

  #alerta{
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
    margin-top: -20px;
  }

  #info-titulo{
    margin: 15px auto;
    text-align: center;
  }

  #para{
    margin-left: 20px;

  }

  #pessoas{
    list-style: none;
    font-weight: bold;
    margin-bottom: 5px;
  }

  #codigoreserva{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }

  #codigoreserva h1, #codigoreserva p{
    font-size: 13px;
  }

  #codigoreserva p{
    font-family: monospace;
    font-size: 15px;
  }
  

  .left {
    background-color: #eee;
    padding: 15px;
    width: 30%;
  }

  .left strong {
    display: block;
    margin-bottom: 8px;
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    border-left: 1px solid #ccc;
  }

  .section {
    flex: 1 1 33%;
    padding: 15px;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
  }

  .section:first-child {
    border-left: none;
  }

  .city {
    font-weight: bold;
    font-size: 16px;
  }

  .time {
    font-size: 18px;
    margin: 8px 0;
  }

  .label {
    font-size: 12px;
    color: #666;
  }

  #preencher-latam{
    
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    padding: 10px;
  }

  #preencher-latam input{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 250px;
  }